@model Tuple<PagedList.IPagedList<DichVuThueXe.Models.NhanVien>, string>
@using PagedList.Mvc;
@using DichVuThueXe.Models
@{
    ViewBag.Title = "DSNhanvien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        var searchParams = new URLSearchParams(window.location.search);
        var ten = searchParams.get("ten");
        if (ten !== null) {
            document.getElementById("timdichvu").value = ten;
        }
    }

    function showSearch() {
        var search = $('#timdichvu').val();
        $.ajax({
            url: '/Admin/Admin/DSNhanVien',
            type: "GET",
            data: { ten: search },
            success: function (data) {
                document.getElementById("timdichvu").value = search;
                window.location.href = '/Admin/Admin/DSNhanVien?ten=' + encodeURIComponent(search);
            }
        });
    }
</script>
<style>
    thead, th {
        background-color: lightblue;
    }

    table {
        text-align: center;
    }
</style>
<div class="container">
    <div style="padding-top:2%">
        <div class="table-responsive">
            <div class="col-lg-12">
                <h1 class="page-header" style="color: lightblue;">DANH SÁCH NHÂN VIÊN</h1>
            </div>
            <p style="margin-left:10px;">
                <button class="btn btn-primary" type="button" onclick="window.open('/Admin/Admin/CreateNhanVien','_self')">
                    Thêm Nhân Viên
                </button>
            </p>
            <div class="search" style="padding-left: 50% ">
                <input id="timdichvu" class="search__input" type="text" placeholder="Tìm tên nhân viên">
                <button id="btn-timkiem" class="btn btn-bitbucket" onclick="showSearch()"><img src="~/Content/image/search.png" alt="search" width="15"></button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: white">
                            Mã Nhân Viên
                        </th>
                        <th style="color: white">
                            Tên Nhân Viên
                        </th>
                        <th style="color: white">
                            Mật Khẩu
                        </th>
                        <th style="color: white">
                            Quyền Sử Dụng
                        </th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatKhau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuyenSD)
                            </td>
                            <td style="text-align: right">
                               <form action="@Url.Action("EditNhanVien", new { id = item.MaNV })" method="get">
                                    <button style="padding: 10px 20px; font-size: 16px; border-radius: 3px; background-color: lavender; border: 0px" type="submit">Edit</button>
                               </form>
                            </td>
                            <td style="text-align: left">
                               <form action="@Url.Action("DeleteNhanVien", new { id = item.MaNV })" method="get">
                                    <button style="padding: 10px 20px; font-size: 16px; border-radius: 3px; background-color: lavender; border: 0px" type="submit">Delete</button>
                               </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="margin-left:20px;">
                @Html.PagedListPager(Model.Item1, page => Url.Action("DSNhanVien", new { ten = Model.Item2, page }))
            </div>
        </div>
    </div>
</div>
