@model DichVuThueXe.Models.NhanVien

@{
    ViewBag.Title = "EditNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding-top:10%">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-weight:bold; font-size:20px">
                    Thông tin chỉnh sửa
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.MaNV)

                                <div class="form-group">
                                    <label class="text">
                                        Tên Nhân Viên
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="text">
                                        Mật Khẩu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="text">
                                        Quyền Sử Dụng
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.QuyenSD, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.QuyenSD, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-primary" />
                                        <a href="~/Admin/Admin/DSNhanVien"><input type="button" value="Hủy" class="btn btn-primary" /></a>
                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>